<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xmlns="http://www.springframework.org/schema/beans" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">

    <bean id="quizElementDao" class="com.stquiz.dao.QuizDaoImpl">
        <constructor-arg name="dataResourceKey" value="QuizElements.csv"/>
    </bean>

    <util:constant id="printStreamSystem" static-field="java.lang.System.out"/>

    <bean id="quizPrintService" class="com.stquiz.output.QuizPrintServiceImpl">
        <constructor-arg name="printStream" ref="printStreamSystem"/>
    </bean>

    <bean id="quizService" class="com.stquiz.service.QuizServiceImpl">
        <constructor-arg name="dao" ref="quizElementDao"/>
        <constructor-arg name="printService" ref="quizPrintService"/>
    </bean>

</beans>